---
title: Higgs-Dahlen Fält
layout: schedule
nav: hd
---

<h1>Higgs-Dahlen Fält i närheten</h1>

<br>

<div>Transportera er till någon av dessa platser och ta ett foto på er grupp tillsammans med er maskot och skicka in till <a href='mailto:uppdrag@tidskaos.se'>uppdrag@tidskaos.se</a>, men snabba er, bara det snabbaste laget kan samla på sig Higgs-Dahlen partiklarna. (som oftast benäms 'poäng')</div>

<hr>

<ul class="thumbnails">
	{% assign name = 'Skylten' %}
	{% assign src = '01 - Skylten.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'LPK' %}
	{% assign src = '02 - Mer LPK.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'LISP' %}
	{% assign src = '03 - General.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Erlandsson' %}
	{% assign src = '04 - Erlandsson.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Slangspecialisten' %}
	{% assign src = '05 - Slangspecialisten.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Körsbärsvägen' %}
	{% assign src = '06 - Korsbarsvagen.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Blekingska' %}
	{% assign src = '07 - Blekingska.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Mer Skylt' %}
	{% assign src = '08 - Mycket mer skylt.jpg' %}
	{% include hd-img.html %}
</ul>