---
title: Higgs-Dahlen Fält
layout: schedule
nav: hd
---

<div class="page-header">
	<h1>Higgs-Dahlen Fält i närheten</h1>
</div>

<p>Transportera er till någon av dessa platser och ta ett foto på er grupp tillsammans med er maskot i samma vinkel som på kortet och skicka in till <a href='mailto:uppdrag@tidskaos.se'>uppdrag@tidskaos.se</a> (glöm inte att skriva vilket studieråd ni tillhör), men snabba er, bara det snabbaste laget kan samla på sig Higgs-Dahlen partiklarna. (som oftast benäms 'poäng', av vilka man får 7 per bild)</p>

<hr>

<ul class="thumbnails">
	{% assign name = 'LPK' %}
	{% assign src = '02 - Mer LPK.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Erlandsson' %}
	{% assign src = '04 - Erlandsson.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Körsbärsvägen' %}
	{% assign src = '06 - Korsbarsvagen.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Mer Skylt' %}
	{% assign src = '08 - Mycket mer skylt.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Väg' %}
	{% assign src = '09 - Vag.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Lugn och Linero' %}
	{% assign src = '14 - Mycket mer Linero.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Naturreservat' %}
	{% assign src = '17 - Naturreservat.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Kemicentrum' %}
	{% assign src = '21 - Kemicentrum.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Volleyboll' %}
	{% assign src = '23 - Vollyboll.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Sankt Lars' %}
	{% assign src = '24 - Sankt Lars.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Kollektivtrafik' %}
	{% assign src = '25 - Kollektivtrafik.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Garage' %}
	{% assign src = '27 - Garage.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Sankt Jörgen' %}
	{% assign src = '28 - Sankt Jorgen.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Ministern' %}
	{% assign src = '29 - Ministern.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Sista Tandem' %}
	{% assign src = '30 - Sista tandem.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Golfbana' %}
	{% assign src = '32 - Golfbana.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'HSB' %}
	{% assign src = '34 - HSB.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Nova' %}
	{% assign src = '35 - Nova.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Massor med Skylt' %}
	{% assign src = '36 - Ubermycket Skylt.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Vikingavägen' %}
	{% assign src = '37 - Vikingavagen.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Malla Livs' %}
	{% assign src = '38 - Malla.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Monument' %}
	{% assign src = '39 - Monument.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'General' %}
	{% assign src = '40 - General.jpg' %}
	{% include hd-img.html %}

<!-- 40 -->

</ul>