---
title: Higgs-Dahlen Fält
layout: schedule
nav: hd
---

<div class="page-header">
	<h1>Higgs-Dahlen Fält i närheten</h1>
</div>

<p>Transportera er till någon av dessa platser och ta ett foto på er grupp tillsammans med er maskot i samma vinkel som på kortet och skicka in till <a href='mailto:uppdrag@tidskaos.se'>uppdrag@tidskaos.se</a> (glöm inte att skriva vilket studieråd ni tillhör), men snabba er, bara det snabbaste laget kan samla på sig Higgs-Dahlen partiklarna. (som oftast benäms 'poäng', av vilka man får 7 per bild)</p>

<hr>

<ul class="thumbnails">
	{% assign name = 'LPK' %}
	{% assign src = '02 - Mer LPK.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Erlandsson' %}
	{% assign src = '04 - Erlandsson.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Körsbärsvägen' %}
	{% assign src = '06 - Korsbarsvagen.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Mer Skylt' %}
	{% assign src = '08 - Mycket mer skylt.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Väg' %}
	{% assign src = '09 - Vag.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Lugn och Linero' %}
	{% assign src = '14 - Mycket mer Linero.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Socialister' %}
	{% assign src = '16 - Socialister.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Naturreservat' %}
	{% assign src = '17 - Naturreservat.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Ideon' %}
	{% assign src = '18 - Ideon.jpg' %}
	{% include hd-img.html %}

	{% assign name = 'Beijer' %}
	{% assign src = '19 - Beijer.jpg' %}
	{% include hd-img.html %}
</ul>