<div class="row">
	<div class="span4">
		<h2><a href='/a/introdag.html'>Introduktionsdag</a></h2>
		<p><strong>Torsdag 30:e Augusti, 11.00, vid busshållplatsen 'Tunavägen'</strong></p>
		<p>Novischaktiviteterna startar och du har möjlighet att träffa dina framtida kursare för första gången! Kan vara praktiskt att ha oömma kläder, då lekar kan förekomma. Efteråt kommer det ordnas fest, och om suget finns går vi på nattklubb.</p>
	</div>
	<div class="span4">
		<h2><a href='/a/arrivalday.html'>Arrival Day med Naturvetenskapliga Fakulteten</a></h2>
		<p><strong>Fredag 31:e Augusti, 10.00, utanför Astronomicentrum</strong></p>
		<p>Här kommer ni kunna träffa studievägledare och många andra studentorganisationer. Oömma kläder rekommenderas då vi efter presentationerna kommer gå till Matematikcentrum och ha tävlingar.</p>
	</div>
	<div class="span4">
		<h2><a href='/a/stadsomlopp.html'>Stadsomlopp</a></h2>
		<p><strong>Lördag 1:e September, 13.00, i parken Lundagård</strong></p>
		<p>Under stadsomloppet så kommer du att lära känna Lund. Tävla om vem som kan lära känna staden snabbast! Om du inte känner till staden innan så kommer du garanterat att göra det efteråt. Sedan det utgång till nattklubb.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="span4">
		<h2><a href='/a/studieradsaktivitet-ett.html'>Studierådsaktivitet</a></h2>
		<p><strong>Plats och tid varierar beroende på vad du studerar</strong></p>
		<p>Söndag 2:e September så kommer ditt studieråd att anordna en aktivitet så du kan lära känna dem, mer information kommer att presenteras senare.</p>
	</div>
	<div class="span4">
		<h2>Kursstart</h2>
		<p><strong>Plats och tid varierar beroende på vad du studerar</strong></p>
		<p>Måndag 3:e September så börjar de flesta kurser, kan vara bra att skriva upp i din telefon, alltid pinsamt att glömma.</p>
	</div>
	<div class="span4">
		<h2><a href='/a/tematavling.html'>Tematävling</a></h2>
		<p><strong>Tisdag 4:e September, 18.00, i Stadsparken</strong></p>
		<p>En aktivitet som knyter ihop novischperiodens tema som kommer bli presenterat under introduktionsdagen. För dig som inte haft möjlighet att medverka tidigare, så hoppas vi att du kan hoppa in här och ge novischperioden en vitamininjektion.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="span4">
		<h2><a href='/a/artor-och-punsch.html'>Ärtor och Punsch</a></h2>
		<p><strong>Torsdag 6:e September, 18.30, utanför Kemicentrum</strong></p>
		<p>Under Ärtor och Punsch kommer du att ha möjlighet att gå på din första sittning. Sittning betyder i princip att man klär upp sig lite och sedan går ut, äter tillsammans och sjunger lite sånger. Det kommer serveras ärtsoppa och pannkakor, och om man önskar, punsch. Efteråt så går vi ut på Lunds nation.</p>
	</div>
	<div class="span4">
		<h2><a href='/a/filosofiska-fakulteten.html'>Återträff med den Filosofiska Fakulteten</a></h2>
		<p><strong>Lördag 8:e September, 14.00, i Stadsparken</strong></p>
		<p>1956 så delades den Filosofiska Fakulteten upp i Humanistisk Fakultet och Matematisk-Naturvetenskaplig Fakultet och det ska firas genom att vi (Naturvetare och Matematiker) först vinner över humanisterna och teologerna i Olympiaden, och sedan spenderar kvällen med att avnjuta brakfest på AF borgen.</p>
	</div>
	<div class="span4">
		<h2><a href='/a/studieradsaktivitet-två.html'>Studierådsaktivitet</a></h2>
		<p><strong>Plats och tid varierar beroende på vad du studerar</strong></p>
		<p>Söndag 9:e September så kommer studieråden ordna en till aktivitet.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="span4">
		<h2><a href='/a/kraftskiva.html'>Kräftskiva</a></h2>
		<p><strong>Tisdag 11:e September, 18.30, utanför Kemicentrum</strong></p>
		<p>Ta med kräftor och ett glatt humör.</p>
	</div>
	<div class="span4">
		<h2><a href='/a/maskerad.html'>Maskerad</a></h2>
		<p><strong>Fredag 14:e September, 18.30, Pallas Athena i Studentboendet Sparta</strong></p>
		<p>Maskerad, mer information kommer.</p>
	</div>
	<div class="span4">
		<h2><a href='/a/studiekvall.html'>Studiekväll</a></h2>
		<p><strong>Plats och tid varierar beroende på vad du studerar</strong></p>
		<p>Söndag 16:e September hoppas vi att kurserna har kommit igång på riktigt, och förhoppningsvis så har du skaffat alla böcker. Men eftersom det ibland är lite klurigt i början så drar vi ihop ett gäng gamla studenter som kan ge tips och förklara saker som du har problem med.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="span4">
		<h2><a href='/a/utopia.html'>Novischsittningen Utopia</a></h2>
		<p><strong>Lördagen 22:e September, 19.00, Lunds Nation</strong></p>
		<p>Höjdpunkten på Novischperioden, den största och sista sittningen, Utopia, en urgammal tradition. Missa inte denna fest. Klädkod kavaj, vilket innebär kostym, klänning, kjol, dräkt, byxdress eller helt enkelt det stiligaste som råkar vara relativt helt och rent vid tillfället.</p>
</div>