<!DOCTYPE html>
<html lang="sv">
	{% include header.html %}

	<body>
		{% include nav.html %}

		<div class="container">
			<div class="hero-unit">
				<h1>{{ post.title }}</h1>

				{{ content }}
			</div>
            {% if page.location %}
            <div class="box">
                <p id="map" style="width: 500px; height: 300px" address="{{ page.location.address }}" latitude="{{ page.location.latitude }}" longitude="{{ page.location.longitude }}">&nbsp;</p>
            </div>
            {% endif %}

			<hr>

			{% include footer.html %}
		</div>
	</body>
</html>
